body {
	background-image: url('chucknorrisbackground.png');
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	position: relative;
}


#outterCircle {
	width: 500px;
	height: 500px;
	background: white;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	position: relative;
	border: 4px solid #d92420;
}

#innerCircle {
	width: 450px;
	height: 450px;
	background: white;
	-moz-border-radius: 225px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
	position: relative;
	left: 21px;
	top: 21px;
	overflow: hidden;
	border: 5px solid #d92420;
}

.buttons {
	width: 225px;
	height: 225px;
	padding: 0;
	border: 0;
	opacity: .5;
}



#greenButton {
	position: relative;
	background-color: green;
	right: 12.5px;
	bottom: 12.5px;
	border: 5px solid #d92420;
}

#redButton {
	position: relative;
	background-color: red;
	left: 240.5px;
	bottom: 240.5px;
	border: 5px solid #d92420;
}

#yellowButton {
	position: relative;
	background-color: yellow;
	bottom: 213.5px;
	right: 12.5px;
	border: 5px solid #d92420;
}

#blueButton {
	position: relative;
	background-color: blue;
	bottom: 442.5px;
	left: 240.5px;
	border: 5px solid #d92420;

}

.gameInfo {
	background-color: white;
	height: 100px;
	width: 500px;
	background: transparent;
	text-align: center;

}

#gameInfoP {
	position: relative;
	visibility: hidden;
	font-size: 2em;
	bottom: 18em;
	left: 26%;
	height: 41px;
	width: 625px;
	color:#fff;
	background-color:transparent;
	text-shadow:#fff 0 0 10px;
}

#cnapproved {
	position: relative;
	height:150px;
	width: 150px;
	bottom: 597px;
	right: 77px;
}

#cnPunch {
	position: relative;
	bottom: 35em;
	left: 19%;
	height: 65%;
	width: 65%;
	visibility: hidden;
}

#start {
	position: relative;
	border-radius: 5px;
	font-size: 3em;
	background-color: #d92420;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#start:hover {
	background-color: green;
    color: black;
}

#start:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
